h1{

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h2{
 
  border-color: black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 10px groove #5e4eac;
  background-color: cadetblue;
}
p{
  color: darkgrey;
}